$clr-white: #f8f7f7;
$clr-black: #201e1f;
$clr-red: #da3f0b;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 1.75rem;
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  background: $clr-white;
  color: $clr-black;
  // used to center the content
  display: grid;
  height: 100vh;
  place-items: center;
}

.card {
  display: grid;
  gap: 0.75em;
  width: min(90%, 60rem);
  padding: 2em;
  
  box: {
    shadow: 0 0 2rem $clr-black;
  }

  border: {
    radius: 0.5rem;
  }

  &__title {
    color: $clr-red;
  }
}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  border: $clr-red solid 3px; 
  border: {
    radius: 0.5rem;
  }

  &--primary {
    background: $clr-red;
    color: $clr-white;
  }

  &--outline {
    color: $clr-red;
  }

  &:hover, &:focus {
    background: $clr-black;
    color: $clr-white;
    box-shadow: 0 0 1rem $clr-red;
  }

}

.flex-group {
  display: flex;
  gap: 1rem;
}
